<div class="pro-block text-center" style="padding: 20px 20px;">
    <!-- onMouseOver="this.style.content='nOt LiKe OtHeR nEw GrAdS' -->
    <!-- TODO: change casing on hover -->
    <h3 style="font-size: 25px; line-height: 1; font-weight: 600; text-align: left;" >Not Like Other New Grads</h3>
    <p class="mb-5"  style="text-align: left;">I've spent my personal, professional, and academic career doing absolutely whatever the heck I've wanted. 

    </br>Including some pretty cool projects.
        
    </br>I'm graduating from UC Berkeley with a BA in Computer Science in August 2022 and am looking for full time positions that combine my passions and expertise in design, engineering. user research, data, being the absolute baddest, and management.</p>

    

    


</div>