<div class="pro-block text-center" style="padding: 20px 20px;">

    <h3 style="font-size: 25px; line-height: 1; font-weight: 600;">MEDIA AND SPEAKING</h3>
    <p class="mb-5">Some cool people talk about things I do sometimes.</br> Sometimes I do some of the talking in cool places.</p>

    <font face="Roboto Condensed">

    <h4 class="my-3">News</h4>
    <div class="row">
        <div class="col-2">
            <b>2021</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://news.mit.edu/2020/examining-racial-attitudes-in-virtual-spaces-through-gaming-0917" target="_blank">Examining racial attitudes in virtual spaces through gaming</a>
            <p>It was printed on the gosh darn physical, tree paper newspaper. Like in ink that stains your fingertips!!</p>
        </div>
        <div class="col-2">
            <b>2019</b>
        </div>
        <div class="col-10" align="left">
            <a href="http://news.mit.edu/2019/exploring-hip-hop-history-art-and-technology-museum-1220" target="_blank">Exploring hip hop history with art and technology</a>
        </div>
        <div class="col-2">
            <b>2017</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://huntnewsnu.com/49336/campus/steam-nonprofit-founder-shares-story-advice/" target="_blank">STEAM nonprofit founder shares story, advice</a>
        </div>
        <div class="col-2">
            <b>2017</b>
        </div>
        <div class="col-10" align="left">
            <a href="http://news.mit.edu/2017/student-profile-danielle-olson-0531" target="_blank">Danielle Olson: Building empathy through computer science and art</a>
        </div>
        <div class="col-2">
            <b>2017</b>
        </div>
        <div class="col-10" align="left">
            <a href="http://news.mit.edu/2017/better-world-starting-close-home-0927" target="_blank">A better world, starting close to home</a>
        </div>
        <div class="col-2">
            <b>2016</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://www.baystatebanner.com/2016/04/06/trailblazing-entrepreneurs/" target="_blank">Trailblazing entrepreneurs</a>
        </div>
        <div class="col-2">
            <b>2015</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://www.baystatebanner.com/2015/07/29/blending-arts-and-science/" target="_blank">Blending arts and science</a>
        </div>
    </div>

    <div class="row"><p></p></div>

    <h4 class="my-3">Speaking</h4>
    <div class="row">
        <div class="col-2">
            <b>2022</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://www.microsoft.com/inculture/arts/universal-hip-hop-museum-mit-ai/" target="_blank">Microsoft In Culture: Celebrating hip hop as an art form</a>
        </div>
        <div class="col-2">
            <b>2019</b>
        </div>
        <div class="col-10" align="left">
            <a href="http://www.indigenous-ai.net/cultural-computing-indigenous-values" target="_blank">Cultural Computing/Indigenous Values</a>
        </div>
        <div class="col-2">
            <b>2017</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://www.stemconnector.com/meet-danielle-olson-gique-advancing-case-steam-education/" target="_blank">Meet Danielle Olson: A Gique Advancing the Case for STEAM Education</a>
        </div>
        <div class="col-2">
            <b>2016</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://alum.mit.edu/slice/gique-blends-arts-and-sciences-afterschool" target="_blank">Gique Blends Arts and Sciences Afterschool</a>
        </div>
        <div class="col-2">
            <b>2016</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://blogs.microsoft.com/newengland/2016/02/29/voices-of-change-diversity-in-stem-can-change-the-world/" target="_blank">Voices Of Change — Diversity in STEM Can Change the World</a>
        </div>
        <div class="col-2">
            <b>2015</b>
        </div>
        <div class="col-10" align="left">
            <a href="http://cs.astronomy.com/asy/b/daves-universe/archive/2015/06/01/greetings-from-the-world-science-festival-star-party.aspx" target="_blank">Greetings from the World Science Festival Star Party!</a>
        </div>
        <div class="col-2">
            <b>2015</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://sciencecheerleaders.org/science-cheerleaders-visit-the-world-science-festival/" target="_blank">Science Cheerleaders visit the World Science Festival</a>
        </div>
        <div class="col-2">
            <b>2014</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://arts.mit.edu/gique/" target="_blank">MIT Alum Danielle Olson Founds Gique.me</a>
        </div>
        <div class="col-2">
            <b>2013</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://alum.mit.edu/slice/mit-cheerleading-compete-national-championship" target="_blank">MIT Cheerleading to Compete for National Championship</a>
        </div>
    </div>

    
    <div class="row"><p></p></div>

    <h4 class="my-3">Blogs and Other Media</h4>
    <div class="row">
        <div class="col-2">
            <b>2021</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://artsdesign.berkeley.edu/design/made-at-berkeley/shotline-2021" target="_blank">UC Berkeley Arts + Design: Made at Berkeley; Shotline</a>
        <p>bruh its like a real life print book made out of tree paper, looks just like a website, completely wild</p>
        </div>
        <div class="col-2">
            <b>2020</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://youtu.be/lHPGMp2-e5E" target="_blank">The Universal Hip Hop Museum explores hip hop as an art form</a>
        </div>
        <div class="col-2">
            <b>2016</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://youtu.be/d-7AZprW0Rw" target="_blank">NOVA PBS Offical: How Dancing Can Help You Learn Science</a>
        </div>
        <div class="col-2">
            <b>2016</b>
        </div>
        <div class="col-10" align="left">
            <a href="https://youtu.be/vWCjPLIT8j4" target="_blank">Venture Café: Danielle Olson, Founder of Gique, Talks STEAM </a>
        </div>
    </div>

    </font>


</div>