<section class="portfolio ">
<h1>Some Things I've Done</h1>

<!-- PORTFOLIO SELECTORS -->
	<div class="container">
		<div class="row mb-5">
	      	<div class="col-10">
		        <div class="btn-group btn-group-toggle " data-toggle="buttons">
		          <label class="btn active ">
		            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="branding" />Data Science
		          </label>
		          <label class="btn">
		            <input type="radio" name="shuffle-filter" value="illustration" />Design
		          </label>
				  <label class="btn">
		            <input type="radio" name="shuffle-filter" value="design" />Engineering 
		          </label>
		           <label class="btn">
		            <input type="radio" name="shuffle-filter" value="photo" />Management
		          </label>
				  <label class="btn">
		            <input type="radio" name="shuffle-filter" value="photo" />Research
		          </label>
		        </div>
	      	</div>
    	</div>	

		<!-- PORTFOLIO ITEMS -->

		<div class="row shuffle-wrapper portfolio-gallery">
			
			<!-- PORTFOLIO ITEM 1: Shotline -->
	      <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;design&quot;,&quot;illustration&quot;]">
		      	<div class="position-relative inner-box">
		          <div class="image position-relative ">
	               <img src="images/portfolio/1-Shotline/1-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-1-summary.html">
	                      <h5 class="mb-0">Shotline</h5>
							<p>Management, Engineering, Design, Research </p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
		      </div>
	      </div>

		  <!-- PORTFOLIO ITEM 2: DEI Data Discovery -->
	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;branding&quot;]">
	        <div class="position-relative inner-box" >
	            <div class="image position-relative ">
	               <img src="images/portfolio/2-DeiDataDiscovery/2-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
		                    <a class="overlay-content" href="erin-portfolio-2-summary.html">
		                      <h5 class="mb-0">DEI Data Discovery Program</h5>
		                      <p>Management, Data Science</p>
		                    </a>
	                	</div> 
		            </div>
		        </div>
		      </div>
	      </div>

		  <!-- PORTFOLIO ITEM 3: Google Analytics: SMB UX Research -->
		  <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/3-GoogleAnalytics/3-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-3-summary.html">
	                      <h5 class="mb-0">Google Analytics: SMB UX Research</h5>
	                      <p>Design, Research</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

		  <!-- PORTFOLIO ITEM 4: VehiCal -->
		  <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/4-Vehical/4-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-4-summary.html">
	                      <h5 class="mb-0">VehiCal</h5>
	                      <p>Engineering, Research</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

		  <!-- PORTFOLIO ITEM 5: Walkie Talkie -->
	      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/5-WalkieTalkie/5-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-5-summary.html">
	                      <h5 class="mb-0">Walkie Talkie</h5>
	                      <p>Management, Design</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

		  <!-- PORTFOLIO ITEM 6: Reentry Program Application -->
		  <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/6-ReentryProgram/6-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-6-summary.html">
	                      <h5 class="mb-0">Reentry Program Application</h5>
	                      <p>Design, Engineering, Management</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

		  <!-- PORTFOLIO ITEM 7: Confidently Digital -->
		  <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/7-ConfidentlyDigital/7-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-7-summary.html">
	                      <h5 class="mb-0">Confidently Digital</h5>
	                      <p>Design, Research</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

		  <!-- PORTFOLIO ITEM 8: Stopout -->
		  <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/8-Stopout/8-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-8-summary.html">
	                      <h5 class="mb-0">Stopout</h5>
	                      <p>Design, Research</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

		  <!-- PORTFOLIO ITEM 9: Opportunities and Barriers: Identifying Pathways into Tech -->
		  <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;illustration&quot;]">
	        <div class="position-relative inner-box">
	            <div class="image position-relative ">
	               <img src="images/portfolio/9-OAB/9-gallery.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
	                <div class="overlay-box">
	                  <div class="overlay-inner">
	                    <a class="overlay-content" href="erin-portfolio-9-summary.html">
	                      <h5 class="mb-0">Opportunities and Barriers: Identifying Pathways into Tech</h5>
	                      <p>Teaching, Speaking, Leadership</p>
	                    </a>
	                  </div>
	                </div> 
	            </div>
	        </div>
	      </div>

	      
	</div>
</section>