<section class="section banner" style="background-image: 'images/banner-home.png';">
	<div class="container" >
		<div class="row" >
			<div class="col" >
				 <h2 class="cd-headline clip is-full-width mb-4 ">
				 	Hi I'm Erin and I'm passionate about</I> <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Engineering.</b>
                        <b>Human-Centered Design.</b>
						<b>Accessibility.</b>
						<b>Creativity.</b>
						<b>Interactive Experiences.</b>
						<b>Art.</b>
						<b>Inclusion, Diversity, and Equity.</b>
                    </span>
                </h2>
                <p> I’ve done a lot of weird, cool, and innovative stuff.</br> And I want a job that lets me continue doing that.</p>
				<!-- <img style="position: absolute; top: 50%; left: 50%;" src="images/banner-home.png" alt="Photo of Erin and a yellow umbrella on a cartoon illustration of the sun."> -->
				
			</div>
			<!-- <div class="col-xs-3">
				<img  class="img-fluid" src="images/banner-home.png" alt="Photo of Erin and a yellow umbrella on a cartoon illustration of the sun.">
			</div> -->
		</div>
	</div>
</section>
